$theme-name: earth;

$theme-text-font: 'Ubuntu';
$theme-headings-font: 'Ubuntu';

$primary: red;
$success: #74B580;
$info: #74B5C1;
$warning: #F3A84D;
$danger: #F18948;

$theme-headings-font: 'Slabo 27px';
$theme-headings-font: 'Comfortaa';
