$date-text: #555;
$tags-text: #6ea5f7;
$button-text: #6ea5f7;
$button-text-hover: #fff;
$bg-color: #6ea5f7;
$tags-pipe: #adb8b8;
$body-text: #555;

.blog-base {
  padding: 20px 10px 10px 10px;
}

.post-base {
  padding: 0px 10px 40px 10px;
}

.post-image {
  width: 100%;
  max-width: 100%;
}

.post-tags {
  color: $tags-text;
  text-align: left;
}

.post-tags__each-pipe {
  color: $tags-pipe
}

.post-date {
  color: $date-text;
  font-size: 14px;
  margin: 10px 10px 5px 0px;
  text-align: right;
}

.post-title {
  font-size: 28px;
  font-weight: 400;
}

.post-body {
  color: $body-text !important;
  font-size: 14px;
  margin: 16px 0px;
}

.post-button {
  color: $button-text;
  border-color: $button-text;
  border-style: solid;
  border-radius: 2px;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 42px;
  line-height: 38px;
  padding: 0 14px;
  text-align: center;
  text-decoration: none !important;
  transition-duration: 0.8s;
  transition-property: background-color, color;
  vertical-align: middle;
  white-space: nowrap;
}

.post-button:hover {
  //border-color: $button-text-hover;
  background-color: $bg-color;
  color: $button-text-hover;
  text-decoration: none !important;
}

@media (min-width: 1280px){
  .blog-base {
    padding: 30px 8% 0px 8%;
  }
}

@media (min-width: 1600px){
  .blog-base {
    padding: 30px 10% 0px 10%;
  }
}