$date-text: #555;
$title-size: 36px;
$sm-title-size: 28px;
$text-size: 16px;
$sm-text-size: 14px;

.full-post-base {
  padding: 0px 20px 40px 20px;
}

.full-post-image {
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
  margin: 16px 0px;
}

.full-post-tags {
  color: $tags-text;
  font-size: $sm-text-size;
  text-align: left;
}

.full-post-date {
  color: $date-text;
  font-size: $sm-text-size;
  margin: 10px 0px 5px 0px;
  text-align: right;
}

.full-post-title {
  font-size: $sm-title-size;
  font-weight: 400;
}

.full-post-body {
  color: $body-text !important;
  font-size: $sm-text-size;
  line-height: 1.7;
  margin: 16px 0px;
}

.notes {
  border-left: 0.5px solid #b0c9ee;
}

.notes li {
  display: list-item;
  color: #555;
  list-style-type: decimal;
}

.notes a {
  color: #555;
  text-decoration-line: underline;
  text-decoration-style: solid #555;
}

.quotes {
  background: #e2ebfa;
  border-left: 10px solid #b0c9ee;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.quotes p {
  display: inline;
}


@media (min-width: 768px){
  .full-post-title {
    font-size: $title-size;
  }
  .full-post-tags, .full-post-date, .full-post-body {
    font-size: $text-size;
  }


  .full-post-body .full-post-image {
    margin: 16px 5%;
  }
}

@media (min-width: 1280px){
  .full-post-base {
    padding: 30px 8% 0px 8%;
  }

  .full-post-body .full-post-image {
    margin: 16px 10%;
  }
  
}

@media (min-width: 1600px){
  .full-post-base {
    padding: 20px 18% 0px 18%;
  }
}