

@import url('https://fonts.googleapis.com/css?family=Rubik');


body {
  padding-top: 54px;
  position: relative;
  display: block;
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
}

.mb-6{
  width:500px;
}

.fixed {
  background: #2eaade;
  position: fixed;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.subheading {
  text-transform: none;
  font-weight: 500;
  font-size: 1.35rem;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

#logo {
  cursor: pointer;
  margin-bottom:20px;
}

.logo {
  width: 85%;
  transition: transform .2s;
  &:hover {
    transform: scale(1.2);
  }
}

#sideNav {
  transition: background-color 0.5s ease;
  &.green {
    background-color: #3CB05C;
  }
  &.red {
    background-color: #D94E47;
  }
  &.blue {
    background-color: #4C90F6;
  }
  &.yellow {
    background-color: #F3C44B;
  }
  &.about {
    background-color: #D94E47;
  }
  &.components {
    background-color: #F3C44B;
  }
  &.about {
    background-color: #EE4D3E;
  }
  &.components {
    background-color: #FBC200;
  }
  &.features {
    background-color: #3CB05C;
  }
  &.gallery {
    background-color: #4C90F6;
  }
  &.technology {
    background-color: #EE4D3E;
  }
  &.releases {
    background-color: rgb(190, 179, 139);
  }
  &.tutorials {
    background-color: #3CB05C;
  }
  &.blog {
    background-color: #4C90F6;
  }
  &.team {
    background-color: #EE4D3E;
  }
  &.followus {
    background-color: #FBC200;
  }
}



#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
  
}

.nav-itemGit{
  margin-top:0px;
  color: #4d4e4f;
  border-radius: 0px;
  font-size: 14px;
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

.bg-github {
  background-color: #323232;
}
.bg-telegram {
  background-color: #2eaade
}
.bg-slack {
  background-color: #18ad74;
}

.bg-reddit-squared {
  background-color: #ff4500;
}

.bg-youtube {
  background-color: #ff0000;
}

.square {
  border-radius: 5px;
  width: 45px;
  height: 45px;
  font-size: 22px;
  text-align: center;
  position: relative;
  display: block;
  .icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;

}
.scrollup{
  width:40px;
  height:40px;
  opacity:0.3;
  position:fixed;
  bottom:20px;
  right:20px;
  text-indent:-9999px;
  border: 500px;
}

.btn-yellow {
  background: #FBC200;
  color: #fff;
  border-color: #FBC200;
}

.btn-yellow:hover{
  background: rgb(255, 230, 0);
  color: #fff;
  border-color: rgb(255, 230, 0);
}

.btn-git {
  color:#383a3d;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.list-item {
	display: flex; 
  padding: 0.5em;
  width: 100%;
}

@media all and (min-width: 40em) {
  .list-item {
    width: 90%;
  }
}
@media all and (min-width: 60em) {
  .list-item {
    width: 40%;
  }
}

.list-content {
  display: flex;
  flex-direction: row;

  padding: 1em;
	width: 100%;
}

.text {
	display: flex;
  flex-direction: column;
}

.list-content p {
  flex: 1 0 auto;
}

.main-post-title {
  font-size: 28px;
  font-weight: 400;
  margin-top: 10px;
}

.main-post-category {
  color: #2eaade;
  text-align: left;
}

.main-post-date {
  color: $date-text;
  font-size: 14px;
  float: right;
}

.btn-blog-block {
  text-align: center;
}

.btn-main-blog {
  font-size: 16px;
  margin: 10px;
  padding: 10px 25px;
}

.main-blog-post {
  margin-bottom: 20px;
}

.main-blog-post__last {
  display: none;
}

.imgFeature{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

// Gallery
/*
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
*/

//Follow us
.line {
  border-left: 1px solid rgb(7, 7, 7);
  height: 80%;
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
}
 .follow-block {
  text-align: center;
}
 .follow-info {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
 #follow-btn {
  display: flex; 
  justify-content: center;
  margin-bottom: 10px;
}

// Media queries

@media (min-width: 1366px){
  .main-blog-post__last {
    display: inline-block;
  }
}

@media (min-width: 1280px){
  .col-components{
    height: 250px;
  }

  .col-components1{
    height: 200px;
  }
}

@media (min-width: 1365px) and (max-width: 1499px) {
  .col-components{
    height: 300px;
  }

  .col-components1{
    height: 220px;
  }

}

@media (min-width: 1191px) and (max-width: 1364px){
  .col-components{
    height: 350px;
  }

  .col-components1{
    height: 250px;
  }

}
  
@media (min-width : 992px) and (max-width: 1099px) {
  .col-components{
    height: 420px;
  }

  .col-components1{
    height: 310px;
  }
}

@media (min-width: 992px) and (max-width: 1090px){
  .col-components{
    height: 550px;
  }

  .col-components1{
    height: 360px;
  }
}

@media (min-width: 992px){
  body {
    padding-top: 0;
    padding-left: 17rem;
  }

  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
    padding: 0.3rem 1rem;
  }

  .nav-itemGit{
    margin-top:20px;
  }
}

@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
      display: block;
  }
  
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
      transition: none;
  }
  
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -25%;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }

}

@media (min-width: 768px){
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width : 851px) and (max-width: 991px) {
  .col-components{
    height: 380px;
  }
  .col-components1 {
    height: 260px;
  }
}


@media (min-width : 768px) and (max-width: 850px) {
  .col-components{
    height: 470px;
  }
  .col-components1 {
    height: 270px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  body{
    display:block;
    margin:0;
    width:100%;
  }


  .col-text{
    padding-top: 0px;
  }

  .col-components{
    height: 230px;
  }

  .col-components1{
    height: 200px;
  }

  .line { 
    display: block;
    margin-top: 20em;
    margin-bottom: 20em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
  }
}

@media (min-width: 481px) and (max-width: 550px) {

  .col-components{
    height: 220px;
  }

  .col-components1{
    height: 170px;
  }
}

@media (min-width: 400px) and (max-width: 480px) {

  .col-components{
    height: 240px;
  }

  .col-components1{
    height: 190px;
  }
}


@media (min-width: 375px) and (max-width: 399px) {
  h1 {
    font-size: 3rem;
  }

  body {
    display: block;
    margin: 0;
    width: 100%;
  }

  .btn {
    zoom: 88%;
  }

  .btn-components{
    margin-top:5px;
  }

  
  .col-components{
    height: 260px;
  }

  .col-components1{
    height: 220px;
  }
  
}



@media (min-width: 320px) and (max-width: 374px) {
  .col-components{
    height: 315px;
  }

  .col-components1{
    height: 240px;
  }
}

