@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  padding-top: 54px;
  position: relative;
  display: block;
  background: white;
  color: #212529;
  font-family: 'Rubik', sans-serif;
}

.home-page {
  border-bottom: 1px solid #ccc;
}
 .titleR{
  font-size: 32px;
}

.icons-home{
  justify-content: center;
}

.title-home{
  justify-content: center;
  margin-right: 40px;
}

.imglogo{
  width: 36px;
  height: 36px;
}

.ml-auto{
  margin-bottom: 0px;
}

.icons-home a{
  margin-right: 20px;
}

.github{
  color: #323232;
}

.telegram {
  color: #2eaade;
}

.reddit {
  color: #ff4500;
}

.youtube {
  color: #ff0000
}

.i-head {
  margin-top: 10px;
  padding-right: 10px;
  font-size: 32px;
}

a .tooltip{
  display: none;
}

 .home-page-title{
  color: #212529;
}
 .home-page-body {
  margin-top: 70px;
}

.title1 {
  display: block;
  text-align: center;
}

.text-ruby {

  display:inline-block;
  vertical-align:middle;
}

.logoandtext {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 470px;
}

.cubelogo {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 350px;
}

.box {
  float: left;
  width: 50%;
  padding: 2em 0 0 0;
}

@media all and (max-width: 60em) {
  .box {
    width: 100%;
  }
}
@media all and (min-width: 60em) {
  .box{
    width: 50%;
  }
}

.clearfix {
  display: inline-block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.column {
  float: left;
  width: 16.6%;
  padding: 10px;
}

.imgLogos {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.mb-6{
  width:500px;
}

.mb-0 {
  margin-left: -6px;
}

#feature {
  margin-left: 10px !important;
}

#blog {
  margin-left: 10px !important;
}

#projects {
  margin-left: 10px !important;
}

.fixed {
  background: #2eaade;
  position: fixed;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.subheading {
  text-transform: none;
  font-weight: 500;
  font-size: 1.35rem;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

#logo {
  cursor: pointer;
  margin-bottom:20px;
}

.logo {
  width: 85%;
  transition: transform .2s;
  &:hover {
    transform: scale(1.2);
  }
}

#sideNav {
  transition: background-color 0.5s ease;
  &.green {
    background-color: #3CB05C;
  }
  &.red {
    background-color: #D94E47;
  }
  &.blue {
    background-color: #4C90F6;
  }
  &.yellow {
    background-color: #F3C44B;
  }
  &.about {
    background-color: #D94E47;
  }
  &.components {
    background-color: #F3C44B;
  }
  &.features {
    background-color: #3CB05C;
  }
  &.gallery {
    background-color: #4C90F6;
  }
  &.technology {
    background-color: #4C90F6;
  }
  &.releases {
    background-color: rgb(190, 179, 139);
  }
  &.releases {
    background-color: #F3C44B;
  }
  &.tutorials {
    background-color: #3CB05C;
  }
  &.blog {
    background-color: #4C90F6;
  }
  &.team {
    background-color: #D94E47;
  }
  &.followus {
    background-color: #F3C44B;
  }
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

.nav-itemGit{
  margin-top:0px;
  color: #4d4e4f;
  border-radius: 0px;
  font-size: 14px;
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

.square {
  border-radius: 5px;
  width: 45px;
  height: 45px;
  font-size: 22px;
  text-align: center;
  position: relative;
  display: block;
  .icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }
}

.scrollup{
  width:40px;
  height:40px;
  opacity:0.3;
  position:fixed;
  bottom:20px;
  right:20px;
  text-indent:-9999px;
  border: 500px;
  img {
    display: block;
  }
}

.btn-yellow {
  background: #FBC200;
  color: #fff;
  border-color: #FBC200;
}

.btn-yellow:hover{
  background: rgb(228, 205, 4);
  color: #fff;
  border-color: rgb(228, 205, 4);
}

.btn-blue {
  background: #4C90F6;
  color: #fff;
  border-color: #4C90F6;
}

.btn-blue:hover{
  background: rgb(27, 111, 236);
  color: #fff;
  border-color: rgb(27, 111, 236);
}

.btn-git {
  color:#383a3d;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  padding: 1em;
  width: 100%;
}

#sub {
  margin-left: 0px !important;
}

#about-item {
  padding-left: 1em !important;
}

#team-item {
  padding-left: 10px !important;
}

@media all and (min-width: 40em) {
  .list-item {
    width: 100%;
  }
}
@media all and (min-width: 60em) {
  .list-item {
    width: 50%;
  }
}

.list-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.imgProject {
  margin-right: 20px;
  margin-bottom: 20px;
}

.text {
	display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.title-logo {
  flex: 1 0 auto;
}

#title-post a {
  color: #212529;
}

.post-title {
  margin-left: 0px;
}

.main-post-category {
  color: #4C90F6;
  text-align: left;
}

.main-post-date {
  color: #4C90F6;
  font-size: 14px;
}

.btn-blog-block {
  text-align: center;
}

.btn-main-blog {
  font-size: 16px;
  margin: 25px;
  padding: 10px 25px;
}

.main-blog-post {
  margin-bottom: 3em;
}

.icons {
  margin-right: 15px;
}

.imgFeature{
  -webkit-filter: grayscale(100%);
  filter: #212529 saturate(0%) brightness(70%) contrast(1000%);
}

.img-faIcon{
  margin-right: 10px;
}


.d-block {
  color: #fff;
}

//Follow us
.line {
  border-left: 1px solid rgb(7, 7, 7);
  height: 80%;
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
}
 .follow-block {
  text-align: center;
}

.follow-info {
  margin-top: 20px;
}

#follow-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

// Newsletter
.mce-responses {
  margin-top: 10px;
}

#mce-success-response {
  color: $success;
}

// Media queries
@media (min-width: 1366px){
  .main-blog-post__last {
    display: none;
  }
}

@media (min-width: 1280px){
  .icons-home{
    justify-content: right;
  }

  a .tooltip{
    display: inline;
    margin-right: 35px;
    text-decoration: underline;
  }

  .title-home{
    margin-right: 0px;
  }

}

@media (min-width: 992px){
  body {
    padding-top: 0;
    padding-left: 17rem;
  }

  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
    padding: 0.3rem 1rem;
  }

  .nav-itemGit{
    margin-top:20px;
  }
}

@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
      display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
      transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -25%;
      z-index: -1;
      display: block;
      visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }

}

@media (min-width: 768px){
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }

  .iconmargin{
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  body{
    display:block;
    margin:0;
    width:100%;
  }


  .col-text{
    padding-top: 0px;
  }

  .i-head {
    margin-top: 10px;
    font-size: 50px;
  }

  .title-home{
    margin-right: 40px;
  }

  .conten-size-home-main{
    font-size: 28px;
  }

  .conten-size-home-subtitle{
    font-size: 1.5rem;
  }
}

@media (min-width: 375px) and (max-width: 399px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  body {
    display: block;
    margin: 0;
    width: 100%;
  }

  .btn {
    zoom: 88%;
  }

  .btn-components{
    margin-top:5px;
  }

  .i-head {
    margin-top: 10px;
    font-size: 28px;
  }

}

@media (min-width: 320px) and (max-width: 374px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.3rem;
  }

  .i-head {
    margin-top: 10px;
    font-size: 28px;
  }

  .titleR{
    font-size: 28px;
  }

}

