body {
  padding-top: 54px;
  position: relative;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.mb-6{
  width:500px;
}

.fixed {
  background: #2eaade;
  position: fixed;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

p {
  color: #999;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.35rem;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

#logo {
  cursor: pointer;
}

.logo {
  width: 85%;
  transition: transform .2s;
  &:hover {
    transform: scale(1.2);
  }
}

#sideNav {
  transition: background-color 0.5s ease;
  &.green {
    background-color: #3CB05C;
  }
  &.red {
    background-color: #EE4D3E;
  }
  &.blue {
    background-color: #4C90F6;
  }
  &.yellow {
    background-color: #FBC200;
  }
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

.bg-github {
  background-color: #323232;
}
.bg-telegram {
  background-color: #2eaade
}
.bg-slack {
  background-color: #18ad74;
}

.bg-reddit-squared {
  background-color: #ff4500;
}

.bg-youtube {
  background-color: #ff0000;
}

.square {
  border-radius: 5px;
  width: 45px;
  height: 45px;
  font-size: 22px;
  text-align: center;
  position: relative;
  display: block;
  .icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;

}
.scrollup{
  width:40px;
  height:40px;
  opacity:0.3;
  position:fixed;
  bottom:20px;
  right:20px;
  text-indent:-9999px;
  background: url('http://webmastermix.ru/files/demo/creation-site/raznoe/knopka-vverh/icon_top.png') no-repeat;
}

@media only screen and (min-width : 1366px) {

  .col-components{
    height: 200px;
  }

  .col-components1{
    height: 140px;
  }
}

@media (min-width: 1100px) and (max-width: 1365px){
  .col-components{
    height: 240px;
  }

  .col-components1{
    height: 190px;
  }
}
  
@media (min-width : 992px) and (max-width: 1099px) {

  .col-components{
    height: 320px;
  }

  .col-components1{
    height: 230px;
  }
}

@media (min-width: 992px){
  body {
    padding-top: 0;
    padding-left: 17rem;
  }

  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

@media (min-width: 768px){
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}
  
@media (min-width : 768px) and (max-width: 991px) {
  .col-components{
    height: 245px;
  }

  .col-components1{
    height: 200px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  body{
    display:block;
    margin:0;
    width:100%;
  }
  
  .mb-6{
    width:300px;
  }
  
  .col-text{
    padding-top: 0px;
  }

  .col-components{
    height: 170px;
  }

  .col-components1{
    height: 140px;
  }
}

@media (min-width: 481px) and (max-width: 550px) {

  .col-components{
    height: 220px;
  }

  .col-components1{
    height: 170px;
  }
}

@media (min-width: 400px) and (max-width: 480px) {

  .col-components{
    height: 240px;
  }

  .col-components1{
    height: 190px;
  }
}

@media (min-width: 375px) and (max-width: 339px) {
  h1 {
    font-size: 3rem;
  }
  
  body {
    display: block;
    margin: 0;
    width: 100%;
  }
    
  .btn {
    zoom: 88%;
  }
  
  .btn-components{
    margin-top:5px;
  }

  .col-components{
    height: 260px;
  }

  .col-components1{
    height: 220px;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .col-components{
    height: 315px;
  }

  .col-components1{
    height: 240px;
  }
}



