$theme-name: earth;

$theme-text-font: 'Ubuntu';
$theme-headings-font: 'Ubuntu';

$primary: #EE4D3E;
$success: #3CB05C;
$info: #4cc0f6;
$warning: #FBC200;
$danger: #F18948;

$theme-headings-font: 'Slabo 27px';
$theme-headings-font: 'Comfortaa';
