<nav class="navbar nav navbar-expand-lg navbar-dark fixed-top red" id="sideNav">
  <a class="navbar-brand js-scrollTo" href="#about">
    <span class="d-block d-lg-none">RubyKube</span>

    <span class="d-none d-lg-block">
      <img id="logo" draggable="false" src="/images/logo.svg" />
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scrollTo" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scrollTo" href="#components">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scrollTo" href="#features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scrollTo" href="#blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scrollTo" href="#technology">technology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scrollTo" href="#team">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scrollTo" href="#followus">Follow us</a>
      </li>
    </ul>
  </div>
</nav>
